@use "../base/variables" as v;
@use "../base/mixins" as m;

#menuToggle {
    position: absolute;
    background-color: v.$indigo;
    color: v.$blanco;
    padding: 4px;
    left: 98%;
    top: 50%;
    font-size: 30px;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
    }
}

.girar-menu {
    transform: rotate(180deg);
}

.header__app {
    background-color: v.$indigo;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 25rem;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.3s ease;

    &.mostrar {
        transform: translateX(0);
    }

    .menu__app {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        z-index: 9999;
    }

    .menu__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .menu__lista {
        display: flex;
        flex-direction: column;
    }

    .menu__link {
        &-btn {
            color: v.$blanco;
            font-weight: bold;
            transition: all 0.3s ease;
            padding: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                background-color: v.$blanco;
                color: v.$indigo;
                cursor: pointer;
            }

            &.active {
                background-color: v.$blanco;
                color: v.$indigo;
            }
        }
        a {
            span {
                color: v.$blanco;
                font-weight: bold;
                transition: all 0.3s ease;
                padding: .5rem;
                display: block;

                &:hover {
                    background-color: v.$blanco;
                    color: v.$indigo;
                    cursor: pointer;
                }
            }
            &.active {
                background-color: v.$blanco;
                color: v.$indigo;
            }
        }
    }

    .menu__sublink {
        color: v.$indigo;
    }

    .menu__logo {
        display: flex;
        gap: 2rem;
        align-items: center;

        &-texto {
            font-weight: 900;
            font-size: 2.2rem;
            color: v.$blanco;
        }
    }

    .submenu__link {
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }

    .menu__footer {
        padding: 1rem;
    }

    .menu__profile {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-rol {
        }

        &-email {
        }

        &-image {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            border-radius: 5%;
        }

        &-info {
            p {
                text-transform: capitalize;
                color: #1f1f1f;
                font-weight: bold;
                font-size: 1.4rem;
            }
            span {
                display: block;
                color: v.$blanco;
                font-size: 1.2rem;
            }
        }
    }

    .menu__logout {
        margin-top: 0.5rem;
        display: inline-block;
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: center;
        background-color: v.$blanco;
        color: v.$indigo;
        font-weight: bold;
    }
}

#dropdownDefaultButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: v.$blanco;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 1rem;

    &:hover {
        background-color: v.$blanco;
        color: v.$indigo;
        cursor: pointer;
    }

    &.active {
        background-color: v.$blanco;
        color: v.$indigo;
    }
}

#dropdown {
    padding: 0 2rem;
    width: 100%;
    ul {
        background-color: darken(v.$indigo, 5%);
    }
}

.submenu {
    height: 0;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    background-color: darken(v.$indigo, 5%);
    transition: all 0.3s ease;

    &.mostrar {
        pointer-events: all;
        height: auto;
        opacity: 1;
        z-index: 1;
    }
}
